# 在提交到远端仓库之前，有些文件并不用提交，如node_modules可以通过package.json下载，dist可以通过webpack打包后重新生成
node_modules
dist

# 大部分的.开头的文件都是操作系统或工具自动生成的，无需提交到版本库，可以使用下面的通配符写法
.*

#但是，有些.开头的文件是我们自己写的，需要提交，可以使用!取反，告诉git不要忽略哪个文件
!.babelrc
!.gitignore